$error-color: red;
$button-bg-color: #007bff;
$button-hover-bg-color: #0056b3;
$border-color: #ccc;
$border-radius: 3px;
$font-family-default: Arial, sans-serif;
$link-color: #007bff;

// Light mode
$background-light: #f7f7f7;
$background-white: #fff;
$text-color-dark: #333;

// Dark mode
$background-dark: #333;
$text-color-light: #fff;
$table-dark-bg: #444;
$table-dark-border: #555;
$table-dark-hover-bg: #555;
$th-dark-bg: #555;
$th-dark-text: #ddd;

// Default (light mode)
div#main {
	text-align: center;
	font-family: $font-family-default;
}

h2 {
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
	color: $text-color-dark;
}

table {
	width: 80%;
	border-collapse: collapse;
	margin: 20px auto;
	background-color: $background-white;
	border: 1px solid $border-color;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table th,
table td {
	padding: 10px;
	text-align: left;
	border: 0.5px solid black;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #f2f2f2;
	cursor: pointer;
	font-weight: bold;
}

tr:hover {
	background-color: #f5f5f5;
}

// Dark mode
@media (prefers-color-scheme: dark) {
	body {
		background-color: $background-dark;
	}
	div#main {
		background-color: $background-dark;
		color: $text-color-light;
	}

	h2 {
		color: $text-color-light;
	}

	table {
		background-color: $table-dark-bg;
		border: 1px solid $table-dark-border;
		box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
	}

	table th,
	table td {
		border: 0.5px solid $table-dark-border;
		border-bottom: 1px solid $table-dark-border;
	}

	th {
		background-color: $th-dark-bg;
		color: $th-dark-text;
	}

	tr:hover {
		background-color: $table-dark-hover-bg;
	}
}
